* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
   overflow-x: hidden;
   background-color: #333;
   color: #222;
   min-height: 100vh;
}
.container {
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
    transition: transform .5s linear;
    transform-origin: top left;
    padding: 5rem;
    position: relative;
}
.container.show-nav {
    transform: rotate(-20deg);
}
.circle-container {
    position: fixed;
    top: -10rem;
    left: -10rem;
}
.circle {
    width: 20rem;
    height: 20rem;
    background-color: #ff7979;
    border-radius: 50%;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
    transition: transform 0.5s linear;

}
.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10rem;
    background: transparent;
    font-size: 2.6rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.circle button:focus {
    outline: none;
}
.circle button#open {
    left: 60%;
}
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.content {
    max-width: 1000px;
    margin: 5rem auto;
}
.content h3 {
    margin-bottom: 1rem;

}
.content small {
    font-size: 1.4rem;
    line-height: 1.5;
    font-style: italic;
}
.content p  {
    color: #333;
}

.content-img {
    width: 100%;
    height: auto;
}


nav {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 100;
}


nav ul {
    list-style-type: none;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    padding-left: 30px;

}



nav ul li {
    text-transform: uppercase;
    margin: 4rem 0;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
}
nav ul li + li {
   margin-left: 15px;
    transform: translateX(-150%);

}
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);

 }

nav ul li i {
    margin-right: 0.5rem;
}

.container.show-nav + nav ul li {
    transform: translateX(0);
    transition-delay: .3s;
}