* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
}
.container {
    background: white;
    padding: 2rem 5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
    font-size: 2rem;
    opacity: 0.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.joke {
    max-width: 60rem;
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.btn {
    background-color: thistle;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 0;
    font-size: 1.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.btn:focus {
    outline: none;
    transform: scale(0.98);
}