* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: steelblue;
    width: 100vw;
    height: 100vh;
}
.container {
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
}
h1 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.form-control {
    position: relative;
    margin-bottom: 3.2rem;
}
.form-control label span {
    display: inline-block;
    font-size: 1.8rem;
    min-width: 5px;
    transition: all .5s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.form-control input {
    width: 100%;
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid lightblue;
}
.form-control input:focus, .form-control input:valid {
    outline: none;

}
.form-control input:focus + label span, .form-control input:valid + label span {
    transform: translateY(-30px);
    color: lightblue;

}


.btn {
    width: 100%;
    margin-bottom: 1.6rem;
    background-color: lightblue;
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: scale .5s ease-in;
}
.btn:focus {
    transform: scale(0.98);
}
p {
    color: white;
}
p a {
    color: wheat;
}